<nav class="navbar navbar-dark bg-dark border-bottom sticky-top">

  <!-- Branding -->
  <a class="navbar-brand ms-3" routerLink="/">Cyclisten Elewijt</a>

  <!-- Navigation links -->
  <ul class="navbar-nav d-flex flex-row me-3">
    <li class="nav-item mx-2">
      <a class="nav-link"
         routerLink="/"
         routerLinkActive="active"
         [routerLinkActiveOptions]="{ exact: true }"
      >Home</a>
    </li>
<!--    <li class="nav-item mx-2">-->
<!--      <a class="nav-link" routerLink="/ritten" routerLinkActive="active">Ritten</a>-->
<!--    </li>-->
  </ul>
</nav>

