<div class="container text-center">
  <h1 class="mt-5">Cyclisten Elewijt</h1>
  <p class="lead">Wie zijn wij Lorem ipsum angulr</p>
  <div class="my-4">
    <img src="images/cyclistenweb.jpg" alt="A description of the image" class="img-fluid">
  </div>
  <p class="lead">Graag meerijden kom dinsdag (richttempo: 29 km/h) (afstand: 55 km) naar:... Lorem ipsum</p>
  <p class="lead">Graag meerijden kom woensdag (richttempo: 32km/h) (afstand: 55 km) naar:... Lorem ipsum</p>
  <p class="lead">Graag meerijden kom zondag (richttempo: 28 km/h) (afstand: 70-80 km winter 100 km zomer) naar:... Lorem ipsum</p>
</div>
