<app-navbar></app-navbar>

<div class="container text-center">
  <div class="container my-5">
    <div class="text-center mb-4">
      <h1 class="display-4">Cyclisten Elewijt</h1>
      <p class="lead">Samen fietsen, samen plezier!</p>
    </div>

    <div style="margin-bottom: 1em;"><img src="images/cyclistenweb.jpg" alt="A description of the image" class="img-fluid">
    </div>

    <div class="card shadow">
      <div class="card-body">
        <h2 class="card-title">Over ons</h2>
        <p class="card-text">
          Wij zijn een enthousiaste groep fietsers uit Elewijt die al meer dan een jaar samen de wegen en paden verkennen. Of je nu houdt van mountainbiken of koersfietsen, bij ons ben je van harte welkom!
        </p>
        <h3 class="mt-4">Onze wekelijkse ritten:</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Zondag: </strong> Koersfiets (~90km) + Mountainbike (~50km). Afspraak in de <strong>Pater Penninckxstraat</strong>.</li>
          <li class="list-group-item"><strong>Dinsdag:</strong> Koersfiets (~55km). Start om <strong>19:50</strong> aan de <strong>Hete Hoek (Kruispunt Lange Ravestraat met de Driesstraat)</strong>.</li>
          <li class="list-group-item"><strong>Woensdag:</strong> Koersfiets (~60km). Samenkomst om <strong>20:00</strong> bij onze voorzitter in de Lange Ravestraat.</li>
        </ul>
        <p class="mt-4">
          Wil je graag meefietsen? Sluit gerust aan bij een van onze ritten. Hoe meer fietsers, hoe meer vreugd! 🚴‍♂️🎉
        </p>
      </div>
    </div>
  </div>





</div>

<app-footer></app-footer>
